<h1>List of all directors</h1>

<table border="1">
<% @list_of_directors.each do |thing|%>
  <tr>
    <td><%= thing.id%></td>
     <td>
      <img src="http://robohash.org/<%= thing.image%>">
    </td>
    <td><%= thing.name%></td>
    <td><%= thing.dob%></td>
    <td>
      <a href="/directors/<%= thing.id %>">
        Show details
      </a>
    </td>
  </tr>
<%end%>